@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

hthre {
  font-family: "Dancing Script", cursive;
  color: rgb(165, 59, 59) !important;
  width: 600px;
  letter-spacing: 3px;
  font-weight: 1100;
}
